{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

    .chart rect {
        fill: steelblue;
    }

        .chart rect:hover {
            fill: turquoise;
        }

    .chart .rectM {
        stroke: green;
        stroke-width: 1;
        fill: green;
        fill-opacity: .2;
    }

        .chart .rectM:hover {
            fill: green;
            fill-opacity: .5;
        }

    .chart text {
        font: 10px sans-serif;
    }

    .chart .title {
        font: 15px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    </style>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Mike Legal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ref-graph">Graph</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>


   <div class="container">
   	

	<div class="row text-center">

		<p>
		{% for obj in cases %}
        <div class="col-lg-12 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ obj.title|title }}</h4><b class="cart-date">Date of Judgement: {{ obj.doj }}</b>
              <p class="card-text">{{ obj.body|truncatechars:100 }}</p>

            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary" style="float: right">Find Out More!</a>
            </div>
          </div>
        </div>
        {% endfor %}

        

      </div>

      <div class="jumbotron my-4">
<div id="#ref-graph" class="chart"></div>

</div>
</div>
<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>


  <script type="application/json" id="mis">

  { "nodes": [{"value": "Myriel", "name": "Myriel", "group": 1 },{ "name": "OldMan", "group": 2 }, { "name": "Labarre", "group": 3 }], "links": [{ "source": 1, "target": 2 ,"value": 5 }, { "source": 1, "target": 0, "value": 8 }] }



</script>

<script type="text/javascript">
  function mynetwork()
  {
  	
  	



                                    //Constants for the SVG
var width = 500,
  height = 500;

//Set up the colour scale
var color = d3.scale.category20();

//Set up the force layout
var force = d3.layout.force()
  .charge(-120)
  .linkDistance(80)
  .size([width, height]);

//Append a SVG to the body of the html page. Assign this SVG as an object to svg
var svg = d3.select(".chart").append("svg")
  .attr("width", width)
  .attr("height", height);



//Read the data from the mis element 

var mis = document.getElementById('mis').innerHTML;
graph = JSON.parse(mis);

//Creates the graph data structure out of the json data
force.nodes(graph.nodes)
  .links(graph.links)
  .start();

//Create all the line svgs but without locations yet
var link = svg.selectAll(".link")
  .data(graph.links)
  .enter().append("line")
  .attr("class", "link")
  .style("marker-end", "url(#suit)") //Added 
;

//Do the same with the circles for the nodes - no 
var node = svg.selectAll(".node")
  .data(graph.nodes)
  .enter().append("circle")
  .attr("class", "node")
  .attr("r", 8)
  .on('click', function (d, i) {
          console.log(d.name)
      })
  .style("fill", function(d) {
    return color(d.group);
  })
  .call(force.drag);


//Now we are giving the SVGs co-ordinates - the force layout is generating the co-ordinates which this code is using to update the attributes of the SVG elements
force.on("tick", function() {
  link.attr("x1", function(d) {
      return d.source.x;
    })
    .attr("y1", function(d) {
      return d.source.y;
    })
    .attr("x2", function(d) {
      return d.target.x;
    })
    .attr("y2", function(d) {
      return d.target.y;
    });

  node.attr("cx", function(d) {
      return d.x;
    })
    .attr("cy", function(d) {
      return d.y;
    });
});

//---Insert-------
svg.append("defs").selectAll("marker")
  .data(["suit", "licensing", "resolved"])
  .enter().append("marker")
  .attr("id", function(d) {
    return d;
  })
  .attr("viewBox", "0 -5 10 10")
  .attr("refX", 25)
  .attr("refY", 0)
  .attr("markerWidth", 6)
  .attr("markerHeight", 6)
  .attr("orient", "auto")
  .append("path")
  .attr("d", "M0,-5L10,0L0,5 L10,0 L0, -5")
  .style("stroke", "#4679BD")
  .style("opacity", "0.6");
//---End Insert---
  }
</script>


<script>
var height = 400;
var width = 600;
var margin = 40;
var data =[];
for(var i = 0; i < {{ case_list|safe }}.length; i++) {

    console.log({{ case_list|safe}}[i])
  data.push({
      x: {{ case_list|safe}}[i]['x'],
        y: {{ case_list|safe}}[i]['y'],
        c: Math.round(Math.random() * 5),
        size: {{ case_list|safe}}[i]['r'],
        });
}

var labelX = 'X';
var labelY = 'Y';
var svg = d3.select('.chart')
                    .append('svg')
                    .attr('class', 'chart')
                    .attr("width", width + margin + margin)
                    .attr("height", height + margin + margin)
                    .append("g")
                    .attr("transform", "translate(" + margin + "," + margin + ")");
                    
var x = d3.scale.linear()
                      .domain([d3.min(data, function (d) { return d.x; }), d3.max(data, function (d) { return d.x; })])
                      .range([0, width]);

var y = d3.scale.linear()
                      .domain([d3.min(data, function (d) { return d.y; }), d3.max(data, function (d) { return d.y; })])
                      .range([height, 0]);

var scale = d3.scale.sqrt()
                      .domain([d3.min(data, function (d) { return d.size; }), d3.max(data, function (d) { return d.size; })])
                      .range([1, 20]);

var opacity = d3.scale.sqrt()
                      .domain([d3.min(data, function (d) { return d.size; }), d3.max(data, function (d) { return d.size; })])
                      .range([1, .5]);
                                
var color = d3.scale.category10();

var xAxis = d3.svg.axis().scale(x);
 var yAxis = d3.svg.axis().scale(y).orient("left");
 
  svg.append("g")
                  .attr("class", "y axis")
                  .call(yAxis)
                  .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("x", 20)
                    .attr("y", -margin)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text(labelY);
                          // x axis and label
                          svg.append("g")
                              .attr("class", "x axis")
                              .attr("transform", "translate(0," + height + ")")
                              .call(xAxis)
                              .append("text")
                                  .attr("x", width + 20)
                                  .attr("y", margin - 10)
                                  .attr("dy", ".71em")
                                  .style("text-anchor", "end")
                                  .text(labelX);
 
svg.selectAll("circle")
                              .data(data)
                              .enter()
                              .insert("circle")
                              .attr("cx", width / 2)
                              .attr("cy", height / 2)
                              .attr("opacity", function (d) { return opacity(d.size); })
                              .attr("r", function (d) { return scale(d.size); })
                              .style("fill", function (d) { return color(d.c); })
                              .on('mouseover', function (d, i) {
                                  fade(d.c, .1);
                                  

                              })
                              .on('click', function (d, i) {
                                
                                mynetwork()
                                
                              })

                              .on('mouseout', function (d, i) {
                                 fadeOut();
                             })
                             .transition()
                            .delay(function (d, i) { return x(d.x) - y(d.y); })
                            .duration(500)
                            .attr("cx", function (d) { return x(d.x); })
                            .attr("cy", function (d) { return y(d.y); })
                            .ease("bounce");
                             
                             
function fade(c, opacity) {
                              svg.selectAll("circle")
                                  .filter(function (d) {
                                      return d.c != c;
                                  })
                                .transition()
                                 .style("opacity", opacity);
                          }

                          function fadeOut() {
                              svg.selectAll("circle")
                              .transition()
                                 .style("opacity", function (d) { opacity(d.size); });
                          }
</script>


<script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>